<div class="sidebar">
    <ul class="list-group">
      <li class="list-group-item">
        <a routerLink="/articles" routerLinkActive="active">Articles</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/categories" routerLinkActive="active">Catégories</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/types" routerLinkActive="active">Types</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/clients" routerLinkActive="active">Clients</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/fournisseurs" routerLinkActive="active">Fournisseurs</a>
      </li>
    </ul>
  </div>